<div class="container-fluid bg-primary">
  <%= @article.title %>
  <%= @article.body %>
  <div class="row justify-content-center bg-success">
    <div class="col-4 bg-info">
      追加情報・解説
    </div>
    <div class="col-4 bg-info">
      賛成
    </div>
    <div class="col-4 bg-info">
      
      反対
    </div>
  </div>
  <br>
  <br>
  <br>
</div>