<h1>ツイート一覧</h1>
<p>取得したツイートは<%= @result['data'].length %>つです（最大5つ）</p>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ツイート主</th>
      <th>ツイートの内容</th>
    </tr>
  </thead>
  <tbody>
    <% @result['data'].length.times do |i| %>
      <tr>
        <th><%= i + 1 %></th>
        <td><%= @result['includes']['users'][0]['username'] %></td>
        <td><%= @result['data'][i]['text'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>