

<%= button_to "Save latest tweet", { controller: "tweets", action: "create", id: params[:id] }, method: :post %>

<div class="calendar">
  <%= month_calendar events: @tweets do |date, tweets| %>
    <div class="card">
      <div class="card-header">
        <%= date.day %>
      </div>
      <ul class="list-group list-group-flush">
        <% tweets.each do |tweet| %>
          <li class="list-group-item">
            <%= tweet.text %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>