

<%= button_to "Save latest tweet", { controller: "tweets", action: "create", id: params[:id] }, method: :post %>

<%= month_calendar events: @tweets do |date, tweets| %>
  
  <%= date.day %>
  <% tweets.each do |tweet| %>
    <div>
      <%= tweet.text %>
    </div>
    <br>
  <% end %>
<% end %>
