<div class="container-fluid bg-dark p-0">
  <div class="row gx-0 d-flex flex-lg-row">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <%= link_to "/" do %>
          <i class="fa-solid fa-house text-primary me-2"></i>TouchPolitics
        <% end %>
      </div>
    </div>
  </div>
</div>
